$text-primary-light: rgba(255, 252, 250, 0.7);
$text-button: rgba(255, 252, 250, 0.75);
$accent-blue: rgba(81, 182, 225, 0.7);
$accent-green: #AEDA9F;
$accent-pink: #B494C6;
$button-pink: rgba(180, 148, 198, 0.7);
$button-green: rgba(174, 218, 159, 0.7);