$text-primary-light: rgba(255, 252, 250, 0.7);
$text-button: rgba(255, 252, 250, 0.75);
$accent-indigo: #5161BB;
$accent-blue: rgba(81, 182, 225, 0.7);
$accent-green: #aeda9f;
$accent-pink: #B494C6;
$button-pink: rgba(180, 148, 198, 0.884);
$button-green: rgba(170, 219, 154, 0.799);
