@use './colours' as *;

@mixin button-basic{
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    // height: 4.5rem;
    margin: .5rem;
    color: $text-button;
    font-size: 4rem;
    font-family: 'Istok';
    text-align: -webkit-center;
    cursor: crosshair;

}

@mixin button-small{
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    border: none;
    padding: .3rem 1.5rem;
    margin: .5rem;
    color: $text-button;
    font-size: 3.25rem;
    font-weight: 400;
    font-family: 'Istok';
    cursor: crosshair;


}

@mixin button-tiny{
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    padding: .3rem 1.5rem;
    margin: .5rem 0;
    color: $accent-indigo;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Istok';
    cursor: crosshair;


}

@mixin body-text{
    font-size: 1.35rem;

}

@mixin header{
    font-size: 3rem;
    font-weight: 400;
}