@use './colours' as *;

@mixin button-basic{
    background: rgba(217, 217, 217, 0.5);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    height: 4.5rem;
    margin: .5rem;
    color: $text-button;
    font-size: 3rem;

}