@font-face {
    font-family: 'Istok';
    src: url(../../assets/typography/IstokWeb-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Istok';
    src: url(../../assets/typography/IstokWeb-Bold.ttf) format('truetype');
    font-weight: bold;
}