@use '../../styles/partials/colours' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


.welcome{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    background-image: url(../../assets/images/background-image.png);
    background-size: cover;

    &__title{
        font-size: 4rem;
        color: $text-primary-light;

    }
}
