@use '../../styles/partials/colours' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    &__arrow{
        margin: 1rem;
    }
}