@use '../../styles/partials/colours' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;

.sindarin{
    background-color: blue;
}