@use '../../styles/partials/colours' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/global' as *;


.select-lang{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/images/background-fade.png);
    background-size: cover;
    height: 100vh;


    &__buttons{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    

    &__button{
       @include button-basic;
       width: 75%;
       margin: 3rem 0;

       &--quenya{
        background-color: $button-green;
        opacity: 100%;

       }

       &--sindarin{
        background-color: $button-pink;


       }

    }

}

.header{
    padding: 1rem;
    color: $text-primary-light;
    font-weight: 400;
    font-size: 1.35rem;
}


